/* Cards Styling */

/* whole card */
.hCard {
  border: none;
  box-shadow: 5px 5px 10px var(--second-text-color);
  cursor: pointer;
}
/* card image */
.cardImgTop {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

/* Enroll button */
.enrollBtn {
  border: 2px solid var(--main-text-color);
  padding: 5px 15px;
  border-radius: 20px;
  color: var(--main-text-color);
  transition: 0.4s transform;
}
.enrollBtn:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 10px var(--second-text-color);
}
/*Unpaid & paid*/
.unpaid {
  color: var(--main-text-color);
  font-size: 20px;
}
.paid {
  font-size: 20px;
}
