.modalContainer {
  width: 40vw;
  max-height: 80vh;
  overflow-y: scroll;
  background-color: #fff;
  position: absolute;
  top: 10vh;
  left: 30vw;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.questionForm > input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 5px;
  border-radius: 5px;
}
.questionForm > .isInvalid {
  border: 2px solid red;
}

/* on mobile */
@media (max-width: 900px) {
  .modalContainer {
    width: 80vw;
    left: 10vw;
    max-height: 80vh;
    overflow-y: scroll;
  }
}
